<ion-view can-swipe-back="true" hide-nav-bar="false" view-title="Dashboard" >
	<ion-content class="has-header">
		<ion-scroll zooming="false" direction="y" style="height:100%">


		  	<div class="profile-bar">
		  		<i class="icon ion-person"></i> 
		  		<!-- get profile name data if connected -->
		  		{{profile.profile.fullname}}
		  	</div>

		  	<!-- foreach loop of all modules (from the JSON data) -->
		  	<a ng-repeat="item in menu.data" ui-sref="module">
			   	<div class="tile">
			   		<div class="tile-icon">
			   			<i ng-class="'ion-' + item.icon"></i>
			   		</div>
			   		<div class="tile-title">
			   			{{item.title}}
			   		</div>
			   	</div>
		   	</a>

		   	

		</ion-scroll>
	</ion-content>
</ion-view>