<ion-view can-swipe-back="true" hide-nav-bar="false" view-title="Dashboard" >
	<ion-content class="has-header">
		<ion-scroll zooming="false" direction="y" style="height:100%">


		  	<div class="profile-bar">
		  		<i class="icon ion-person"></i> 
		  		<!-- get profile name data if connected -->
		  		{{information.info.profile.fullname}}
		  	</div>

		  	<!-- foreach loop of all modules (from the JSON data) -->
		  	<a ui-sref="televisie">
			   	<div class="tile">
			   		<div class="tile-icon">
			   			<i class="ion-ios-monitor"></i>
			   		</div>
			   		<div class="tile-title">
			   			Televisie 
			   		</div>
			   	</div>
		   	</a>

		   	<a href="#">
			   	<div class="tile">
			   		<div class="tile-icon">
			   			<i class="ion-key"></i>
			   		</div>
			   		<div class="tile-title">
			   			Deuren
			   		</div>
			   	</div>
		   	</a>

		   	<a href="#">
			   	<div class="tile">
			   		<div class="tile-icon">
			   			<i class="ion-star"></i>
			   		</div>
			   		<div class="tile-title">
			   			Favorieten
			   		</div>
			   	</div>
		   	</a>

		</ion-scroll>
	</ion-content>
</ion-view>