<ion-view can-swipe-back="true" hide-nav-bar="false" style="height: 100%">
	<ion-nav-title>
        <div ng-if="menu.show_profile">
            <i class="icon ion-person"></i>
            {{profile.profile.fullname}}
        </div>
        <div ng-if="!menu.show_profile">
            {{menu.title}}
        </div>
    </ion-nav-title>


    <ion-content class="has-header" style="height: 100%">
        <ion-spinner class="loading" icon="spiral" ng-hide="menu.success">
        </ion-spinner>
            
        <ion-scroll zooming="false" direction="y" style="height:100%">
            <!-- als er geen internetconnectie is -->
            <span ng-hide="status.success || menu.success">
                <div class="card">
                    <div class="item item-divider">
                        Niet verbonden met de hub
                    </div>
                    <div class="item item-text-wrap">
                        Als het icoontje rechtsbovenin het scherm groen is, klik dan op de onderstaande
                        knop om het scherm te verversen.<br /><br />
                        <center><button ng-click="reloadPage()">Ververs pagina</button></center>
                    </div>
                </div>
            </span>

            <span ng-repeat="item in menu.data">
                <a ui-sref="menu({endpoint: item.action})" ng-if="item.is_menu">
                    <div class="tile" ng-class="item.statuses">
                        <div class="tile-icon">
                            <i ng-class="'ion-' + item.icon"></i>
                        </div>
                        <div class="tile-title">
                            {{item.title}}
                        </div>
                    </div>
                </a>
                <a ng-if="!item.is_menu" ng-click="itemClicked(item, this)">
                    <div class="tile" ng-class="item.statuses">
                        <div class="tile-icon">
                            <i class="ion-checkmark-round" ng-show="item.show_check"></i>
                            <i ng-class="'ion-' + item.icon" ng-hide="item.loading || item.show_check"></i>
                            <ion-spinner class="loader" icon="spiral" ng-show="item.loading"></ion-spinner>
                        </div>
                        <div class="tile-title">
                            {{item.title}}
                        </div>
                    </div>
                </a>
            </span>
        </ion-scroll>
    </ion-content>
</ion-view>