<ion-view can-swipe-back="true" hide-nav-bar="false">
    <ion-nav-title>{{menu.data.title}}</ion-nav-title>

	<ion-content class="has-header">
		<ion-scroll zooming="false" direction="y" style="height:100%">

		  	<div class="top-border"></div>

		  	<a ng-repeat="item in menu.data" ui-sref="#">
			   	<div class="tile">
			   		<div class="tile-icon">
			   			<i ng-class="'ion-' + item.icon"></i>
			   		</div>
			   		<div class="tile-title">
			   			{{item.title}}
			   		</div>
			   	</div>
		   	</a>

		   	<a ui-sref="dashboard">Back to dash</a>

		</ion-scroll>
	</ion-content>
</ion-view>