.scroll {
	height: 100% !important;
	background: #f6f6f6;
}

.loading {
	margin-top: 42%;
	margin-left: 42%;
}

.loading svg {
	width: 16%;
	height: 16%;
}

.tile {
	width:50%;
    padding: 0 0 25px 0;
	float:left;
	background:#fff;
	border-right:1px solid #e7dfe2;
	border-bottom:1px solid #e7dfe2;
	box-sizing:border-box;
	text-decoration: none;
	color:black;
	margin-top:1px;
    -ms-text-overflow: ellipsis;
    text-overflow: ellipsis;
    height: 175px;
    text-align: center;

    transition: background-color 0.2s;
}
.tile:hover{
	background:#f7f7f7;
}
a.tile:hover{
	background:#f7f7f7;
}
a.tile {
	text-decoration: none;
}

.tile-icon {
    position: relative;
	margin-left:auto;
	margin-right:auto;
    margin-top: 25px;
    width: 75px;
    height: 80px;
}

.tile-icon .loader svg {
    height: 75px;
    width: 75px;
    margin-left:auto;
    margin-right: auto;
}

.tile-icon .loader {
    width: 100%;
}

.speakingSpinner svg {
    height: 15%;
    width: 15%;
    margin-left:auto;
    margin-right: auto;
}

.speakingSpinner {
    width: 100%;
}

.speak_icon {
	font-size: 64px;
	margin-left: auto;
	margin-right: auto;
}

.tile-icon i {
	font-size:75px;
	text-align: center;
	display: inline-block;
    width: 100%;
}

.tile-title {
	text-align: center;
	margin-top:15px;
	font-size:30px;
	text-decoration: none;
}

.mic-field{
	position:absolute;
	bottom:0;
	width:100%;
	height:150px;
	line-height:150px;
	font-size:80px;
	text-align: center;
	border-top:1px solid #e7dfe2;
	-webkit-box-shadow: 0px -1px 8px 0px rgba(0,0,0,0.22);
	-moz-box-shadow: 0px -1px 8px 0px rgba(0,0,0,0.22);
	box-shadow: 0px -1px 8px 0px rgba(0,0,0,0.22);
	
	-moz-transition: 1s;
    -ms-transition: 1s;
    -o-transition: 1s;
    -webkit-transition: 1s;
    transition: 1s;
}

.speech-modal {
	height:100%;
	background-color: #fff;
	-webkit-box-shadow: inset 0px -1px 8px 0px rgba(0,0,0,0.51);
	-moz-box-shadow: inset 0px -1px 8px 0px rgba(0,0,0,0.51);
	box-shadow: inset 0px -1px 8px 0px rgba(0,0,0,0.51);
}
.speechIntro{
	width:100%;
	padding: 0px 10px;
	display:none;
	font-size:20px;
	line-height:20px;
}
.speechText {
	font-size:20px;
	line-height:20px;
}
.speechButtons {
	position:absolute;
	width:100%;
	bottom:0;
	display:none;
}
.speechButtons button{
	width:50%;
	float:left;
	-webkit-border-radius: 0;
	-moz-border-radius: 0;
	border-radius: 0px;
	color: #ffffff;
	font-size: 24px;
	background: #387ef5;
	padding: 17px 20px;
	border: solid #3372dd 1px;
	text-decoration: none;
}
.refreshBtn{
	-webkit-border-radius: 0;
	-moz-border-radius: 0;
	border-radius: 0px;
	color: #ffffff;
	font-size: 20px;
	background: #387ef5;
	padding: 10px 20px;
	border: solid #3372dd 1px;
	text-decoration: none;
}
.mic-on {
	color:red;
}
.mic-off {
	color:black;
}

.check {
    background-color: #018c00 !important;
    color: #fff;
}

.check-icon {
	display: none;
}

.check .check-icon {
	display: block;
}

.error {
	background-color: #ef473a !important;
	color: #fff;
}

.error-icon {
	display: none;
}

.error .error-icon {
	display: block;
}

.check .ion-mic-a,
.error .ion-mic-a {
	display: none;
}