body {
	
}

.header-padding {
	padding-top:17.3vw;
}

.profile-bar {
	text-align: center;
	height:13vw;
	line-height: 13vw;
	font-size: 7vw;
	border-bottom:1px solid #e7dfe2;
}
.profile-bar i {
	font-size:9vw;
}

.tile {
	width:50%;
	height:43vw;
	float:left;
	background:#fff;
	border-right:1px solid #e7dfe2;
	border-bottom:1px solid #e7dfe2;
	box-sizing:border-box;
	text-decoration: none;
	color:black;
}
.tile-icon {
	width:30vw;
	height:20vw;
	margin-top:6vw;
	margin-left:auto;
	margin-right:auto;
}

.tile-icon img {
	width:100%;
	height:100%;
}
.tile-icon i {
	font-size:24vw;
	text-align: center;
	display: inline-block;
    width: 100%;
}
.tile-title {
	text-align: center;
	margin-top:4vw;
	font-size:8vw;
}